.img-style
{
    max-height: 500px !important;
    width:100%;
    overflow : hidden;
    object-fit : cover;    
}

.carousel-inner{
  width:100%;
  max-height: 1000px !important;
}

/*Container box*/
.sec2-2
{
    margin-top :  auto; /*150px;*/
    float : right;     
    
}

/*Container box*/
#sec2 {
 min-height : 600px; 
 height : auto;
 top : 70px;  
}

/*Quotes and pic*/
.sec2-1 {      
    top : 50px;
    width : 100%;
    display : inline-block;
    height : auto;
}

@media screen and (max-width : 300px) {
    span#quotes {
      font-size : 1.2em;
    }
    body {
      font-size : 1.2em;
    }
    #hm-list a>div
    {
      padding: 5px;
    }
}

@media screen and (max-width : 500px) and (min-width : 300px) {
    span#quotes {
      font-size : 1.4em;
    }    
    body {
      font-size : 1.1em;
    }
    #hm-list a>div
    {
      padding: 8px;
    }
}

@media screen and (max-width : 800px) and (min-width:500px) {
    span#quotes {
      font-size : 1.5em;
    }
    body {
      font-size : 1.2em;
    }
    #hm-list a>div
    {
      padding: 10px;
    }
}

@media screen and (min-width : 801px) {
    #quotes {
      font-size : 1.8em;
    }
}

#quotes{ 
     
    text-align : center;
    font-family : Arial, Helvetica, sans-serif;
    font-style : italic;    
    color : darkgrey;
}

#playerImg {
  float : left;
  margin-right : 50px;
  margin-left : 50px;
  border-radius : 50%;  
  overflow : hidden;
}

#quote-sec, #playerImg {
  display : inline-block;
}

.list-group-item {
 border:none;
}

.panel-primary {
  border : 1px solid darkred;
}

.panel-primary>.panel-heading {
    background-color: darkred;
    font-weight : bold;
    border : 1px solid darkred;
}